#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: url("assets/cute.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.div1 {
background-size: cover;
padding: 10px;
color: black;
text-align: center;
}